<div class="button text-right mt-4">
    <button routerLink="adduser" mat-raised-button color="primary">Add User</button>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <ul class="list-group mt-5" *ngIf="userData.length>0; else noData">
            <li 
            [routerLink]="user.id"
            *ngFor='let user of userData' class="list-group-item text-center mb-2">
                {{user.username}}
            </li>
        </ul>
        <ng-template #noData>
            <h4 class="alert alert-danger">No user data</h4>
        </ng-template>
    </div>
</div>